---
import './index.scss';
const { src, title, alt, target, link } = Astro.props;
---
<a class='social-media-icon-wrapper' href={link} target={target}>
  <img
    class='social-media-icon-wrapper__image'
    src={src}
    title={title}
    src={alt}
    height='60'
    width='60'
  />
</a>
