---
const { title, date, items } = Astro.props;
import type { Description } from "../utils/formations";
const ChevronIcon = '/icons/chevron.png';
const CalendarIcon = '/icons/calendar.png';
const ComputerIcon = 'icons/computer-check.png';
---

<article class='accordion' aria-expanded='false' tabindex='0'>
  <div class='accordion__overview'>
    <div class='text-wrapper'>
      <p class='text-wrapper__title'> {title} </p>
      <p class='text-wrapper__date'> {date} </p>
    </div>
    <img src={ChevronIcon} alt='toggle-control' aria-expanded='false'/>
  </div>
  <div class='accordion__items-wrapper'>
    {items.map((item: Description) => (
      <div class='accordion__items-wrapper__item'>
        {item.date && (
          <div class='accordion__items-wrapper__item__container'>
            <img src={CalendarIcon} alt='calendar-icon' />
            <p class='accordion__items-wrapper__item__container__date'>{item.date}</p>  
          </div>
        )}
        <div class='accordion__items-wrapper__item__container'>
          <img src={ComputerIcon} alt='computer-icon' />
          <p class='accordion__items-wrapper__item__container__description'>{item.description}</p>
        </div>
      </div>
    ))}
  </div>
</article>

<style lang='scss'>
  .accordion {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
    transition: 0.25s;

    &[aria-expanded='true'] &__overview {
      padding-bottom: 16px;
    }

    &__overview {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 100%;

      img {
        height: 36px;
        transition: 0.25s ease-in-out;
        transform: scaleY(1);
        width: 36px;

        &[aria-expanded='false'] {
          transform: scaleY(-1);
        }
      }

      .text-wrapper {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 8px;

        &__title {
          font-size: 16px;
          font-weight: 600;
        }

        &__date {
          font-size: 14px;
          font-weight: 300;
        }
      }
    }

    &__items-wrapper {
      border-top: 1px solid rgba(221, 221, 221, 0.7);
      display: none;
      padding-top: 16px;
      text-align: left;
      width: 100%;

      &__item {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &:not(:last-child) {
            border-bottom: 1px solid rgba(221, 221, 221, 0.7);
            padding-bottom: 16px;
          }

        &__container {
          align-items: flex-start;
          display: flex;
          gap: 8px;

          img {
            height: 24px;
            width: 24px;
          }

          &__date {
            align-self: center;
            font-style: italic;
            font-size: 13px;
            font-weight: 300;
          }

          &__description {
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }

    &[aria-expanded='true'] &__items-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
</style>
