---
import './index.scss';
import FormationAccordion from '../../components/FormationAccordion/index.astro'
import { workExperience, education } from '../../utils/formations';
---

<section class='formation bg-gray'>
  <div class='formation__group'>
    <h3 id="experience" class='formation__group__title general-title scrollable-section'> Work experience </h3>
    {workExperience.map(experience => (
      <FormationAccordion
        title={experience.title}
        date={experience.date}
        items={experience.items}
      />
    ))}
  </div>

  <div class='formation__group'>
    <h3 id="education" class='formation__group__title general-title scrollable-section'> Education </h3>
    {education.map(experience => (
      <FormationAccordion
        title={experience.title}
        date={experience.date}
        items={experience.items}
      />
    ))}
  </div>
</section>

<script>
  const accordions = [...document.querySelectorAll('.accordion')];
  for (const accordion of accordions) {
    const chevron = accordion.querySelector('img');
    accordion?.addEventListener('click', () => {
      const currentAriaExpandedValue = accordion.getAttribute('aria-expanded')
      const newAriaExpandedValue = currentAriaExpandedValue === 'false' ? 'true' : 'false';

      accordion.setAttribute('aria-expanded', newAriaExpandedValue);
      chevron?.setAttribute('aria-expanded', newAriaExpandedValue);
    })
  }
</script>
