---
import './index.scss';
import FormationAccordion from '../../components/FormationAccordion/index.astro'
import { workExperience, education } from '../../utils/formations';
---

<section class='formation bg-gray'>
  <div class='formation__group'>
    <h3 id="experience" class='formation__group__title general-title scrollable-section'> Work experience </h3>
    {workExperience.map(experience => (
      <FormationAccordion
        title={experience.title}
        date={experience.date}
        items={experience.items}
      />
    ))}
  </div>

  <div class='formation__group'>
    <h3 id="education" class='formation__group__title general-title scrollable-section'> Education </h3>
    {education.map(experience => (
      <FormationAccordion
        title={experience.title}
        date={experience.date}
        items={experience.items}
      />
    ))}
  </div>
</section>

<script>
  function collapseSection(element) {
    const sectionHeight = element.scrollHeight;
    
    const elementTransition = element.style.transition;
    element.style.transition = '';
    
    requestAnimationFrame(() => {
      element.style.height = sectionHeight + 'px';
      element.style.transition = elementTransition;
      
      requestAnimationFrame(() => {
        element.style.height = 0 + 'px';
      });
    });
    
    element.setAttribute('data-expanded', 'false');
  }

  function expandSection(element) {
    const sectionHeight = element.scrollHeight;
    element.style.height = sectionHeight + 'px';
    element.setAttribute('data-expanded', 'true');
  }

  const accordionList = [...document.querySelectorAll('.accordion')];

  for (const accordion of accordionList) {
    accordion.addEventListener('click', () => {
      const section = accordion.querySelector('.accordion__items-wrapper');
      const chevron = accordion.querySelector('.accordion__overview__chevron')
      const isExpanded = accordion.getAttribute('data-expanded') === 'true';
        
      if (isExpanded) {
        collapseSection(section)
        accordion.setAttribute('data-expanded', 'false')
        chevron.setAttribute('data-expanded', 'false')
      } else {
        expandSection(section)
        accordion.setAttribute('data-expanded', 'true')
        chevron.setAttribute('data-expanded', 'true')
      }
    });
  }
</script>
